In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47

In [ ]:
%sql postgresql://admin:Qwer1234@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

-- analytics

CREATE TABLE analytics.facility_city_sum AS
SELECT acd.code_nm as area_name, ccd.code_nm as city_name, fcd.code_nm as facility_type, COUNT(*) as facility_count
FROM raw_data.area_tour_facility as fc
JOIN (SELECT code, code_nm FROM raw_data.code_detail WHERE code_category = 'AREA') as acd ON fc.area_code = acd.code
JOIN (SELECT code, code_nm, parent_code FROM raw_data.code_detail WHERE code_category = 'CITY') as ccd ON fc.area_code = ccd.parent_code AND fc.sigungucode = ccd.code
JOIN (SELECT code, code_nm FROM raw_data.code_detail WHERE code_category = 'FACILITY') as fcd ON fc.facility_type_id = fcd.code
GROUP BY area_name, city_name, facility_type