In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.8 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed SQLAlchemy-1.4.47

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [ ]:
%sql postgresql://자신의 아이디:자신의 비밀번호@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev

### Redshift Schema 설정

In [ ]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
12 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_automv', 1, None),
 ('pg_temp_1', 1, None),
 ('pg_catalog', 1, '{rdsdb=UC/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UC/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UC/rdsdb,=U/rdsdb}'),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

### COPY 명령으로 테이블 만들기

In [ ]:
%%sql

CREATE TABLE raw_data.area_tour_facility (
   facility_id varchar(32) primary key,
   facility_type_cd varchar(32),
   facility_title varchar,
   map_x float,
   map_y float,
   address varchar,
   category varchar(32),
   areacode varchar(32),
   sigungucode varchar(32)
);

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.area_tour_facility
FROM 's3://tour-dashboard-4-2/csv_data/AREA_TOUR_FACILITY.csv'
credentials 'aws_iam_role=자신의 ARN'
FORMAT CSV
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 QUOTE '"';

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

CREATE TABLE analytics.code_detail_parent_area (
   code_seq varchar primary key,
   code varchar,
   code_category varchar,
   code_nm varchar,
   parent_area varchar
);

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY analytics.code_detail_parent_area
FROM 's3://tour-dashboard-4-2/csv_data/CODE_DETAIL_PARENT_AREA.csv'
credentials 'aws_iam_role=자신의 ARN'
FORMAT CSV
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 QUOTE '"';

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

select * from analytics.code_detail_parent_area
where code_category = 'CITY'
limit 20;

 * postgresql://admin:***@tableau-project-4-2.433690009634.us-west-2.redshift-serverless.amazonaws.com:5439/dev
20 rows affected.

[('35', '1', 'CITY', '강남구', '서울'),
 ('36', '2', 'CITY', '강동구', '서울'),
 ('37', '3', 'CITY', '강북구', '서울'),
 ('38', '4', 'CITY', '강서구', '서울'),
 ('39', '5', 'CITY', '관악구', '서울'),
 ('40', '6', 'CITY', '광진구', '서울'),
 ('41', '7', 'CITY', '구로구', '서울'),
 ('42', '8', 'CITY', '금천구', '서울'),
 ('43', '9', 'CITY', '노원구', '서울'),
 ('44', '10', 'CITY', '도봉구', '서울'),
 ('45', '11', 'CITY', '동대문구', '서울'),
 ('46', '12', 'CITY', '동작구', '서울'),
 ('47', '13', 'CITY', '마포구', '서울'),
 ('48', '14', 'CITY', '서대문구', '서울'),
 ('49', '15', 'CITY', '서초구', '서울'),
 ('50', '16', 'CITY', '성동구', '서울'),
 ('51', '17', 'CITY', '성북구', '서울'),
 ('52', '18', 'CITY', '송파구', '서울'),
 ('53', '19', 'CITY', '양천구', '서울'),
 ('54', '20', 'CITY', '영등포구', '서울')]

### analytics 테스트 테이블 만들기

In [ ]:
%%sql

CREATE TABLE analytics.visitor_map_all AS
  SELECT a.*, b.code_nm, b.parent_area FROM raw_data.visitor_session a
  JOIN analytics.code_detail_parent_area b ON a.code_seq = b.code_seq;

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT COUNT(*) FROM analytics.visitor_map_all;

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[(815671,)]

In [ ]:
result = %sql SELECT * FROM analytics.visitor_map_all;
df = result.DataFrame()
df.to_csv('visitor_map_all.csv', index=False)

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
815671 rows affected.

In [ ]:
%%sql

CREATE TABLE analytics.visit_map_month AS
SELECT DATE_TRUNC('month', visit_dt) AS month,
       SUM(tourist_nm) AS total_sum, 
       code_seq,
       code_nm,
       parent_area 
FROM analytics.visitor_map_all
GROUP BY month, code_seq, code_nm, parent_area
ORDER BY month;

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM analytics.visit_map_month ORDER BY month LIMIT 100;

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
100 rows affected.

[(datetime.datetime(2020, 4, 1, 0, 0), 405636, 95, '북구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 326531, 196, '안동시', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 61884, 182, '청양군', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 74570, 233, '무주군', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 116034, 142, '고성군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 716599, 79, '북구', '대구'),
 (datetime.datetime(2020, 4, 1, 0, 0), 54110, 235, '순창군', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 64882, 68, '옹진군', '인천'),
 (datetime.datetime(2020, 4, 1, 0, 0), 818143, 66, '서구', '인천'),
 (datetime.datetime(2020, 4, 1, 0, 0), 329404, 177, '서산시', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1077051, 124, '안산시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1318155, 120, '부천시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 159839, 147, '양양군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 374395, 138, '포천시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 55109, 193, '봉화군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 418516, 91, '남구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 248102, 175, '보령시', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 316577, 88, '강서구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 663663, 46, '동작구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 286368, 102, '중구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 289724, 75, '남구', '대구'),
 (datetime.datetime(2020, 4, 1, 0, 0), 569300, 105, '남구', '울산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 118583, 222, '창녕군', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 75645, 161, '보은군', '충북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 252207, 224, '통영시', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1340796, 140, '화성시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 83463, 225, '하동군', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 237220, 80, '서구', '대구'),
 (datetime.datetime(2020, 4, 1, 0, 0), 178684, 199, '영주시', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 703757, 81, '수성구', '대구'),
 (datetime.datetime(2020, 4, 1, 0, 0), 383901, 99, '수영구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 149069, 231, '김제시', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 471824, 74, '중구', '대전'),
 (datetime.datetime(2020, 4, 1, 0, 0), 174180, 184, '홍성군', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 349162, 174, '당진시', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 276110, 110, '가평군', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 754706, 137, '평택시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 93528, 64, '동구', '인천'),
 (datetime.datetime(2020, 4, 1, 0, 0), 934420, 58, '중구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 790569, 43, '노원구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 94664, 154, '태백시', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 173278, 236, '완주군', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 159163, 166, '진천군', '충북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 295104, 70, '대덕구', '대전'),
 (datetime.datetime(2020, 4, 1, 0, 0), 57592, 242, '진안군', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 137799, 172, '금산군', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 72718, 254, '신안군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 439318, 109, '세종특별자치시', '세종'),
 (datetime.datetime(2020, 4, 1, 0, 0), 152692, 249, '담양군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 171098, 241, '정읍시', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 425728, 250, '목포시', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 317505, 107, '북구', '울산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 18864, 202, '울릉군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 196684, 207, '칠곡군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 851238, 76, '달서구', '대구'),
 (datetime.datetime(2020, 4, 1, 0, 0), 113192, 256, '영광군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 111275, 203, '울진군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 202726, 164, '음성군', '충북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 591212, 209, '거제시', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 538896, 59, '중랑구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 582824, 67, '연수구', '인천'),
 (datetime.datetime(2020, 4, 1, 0, 0), 90900, 195, '성주군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 303857, 133, '의왕시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 769583, 103, '해운대구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 131911, 158, '횡성군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 582304, 53, '양천구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 796416, 72, '서구', '대전'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1122843, 47, '마포구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 191198, 180, '예산군', '충남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 575178, 62, '미추홀구', '인천'),
 (datetime.datetime(2020, 4, 1, 0, 0), 443518, 125, '안성시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 184432, 156, '홍천군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1455577, 49, '서초구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 461945, 237, '익산시', '전북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 286060, 84, '남구', '광주'),
 (datetime.datetime(2020, 4, 1, 0, 0), 220117, 216, '사천시', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 609277, 45, '동대문구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 126209, 257, '영암군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 61424, 247, '구례군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 721321, 94, '부산진구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 335577, 129, '여주시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 422436, 267, '서귀포시', '제주'),
 (datetime.datetime(2020, 4, 1, 0, 0), 207579, 112, '과천시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 800372, 40, '광진구', '서울'),
 (datetime.datetime(2020, 4, 1, 0, 0), 98699, 150, '인제군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 111070, 213, '남해군', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 72767, 217, '산청군', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 719365, 139, '하남시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 133865, 226, '함안군', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 30059, 198, '영양군', '경북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 219305, 98, '서구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 215163, 101, '영도구', '부산'),
 (datetime.datetime(2020, 4, 1, 0, 0), 698745, 123, '시흥시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 102178, 259, '장성군', '전남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 528973, 141, '강릉시', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 57299, 157, '화천군', '강원'),
 (datetime.datetime(2020, 4, 1, 0, 0), 202892, 215, '밀양시', '경남'),
 (datetime.datetime(2020, 4, 1, 0, 0), 1899435, 132, '용인시', '경기'),
 (datetime.datetime(2020, 4, 1, 0, 0), 92615, 160, '단양군', '충북'),
 (datetime.datetime(2020, 4, 1, 0, 0), 285855, 171, '공주시', '충남')]

In [ ]:
result = %sql SELECT * FROM analytics.visit_map_month;
df = result.DataFrame()
df.to_csv('visitor_map_month.csv', index=False)

 * postgresql://admin:***@default.433690009634.us-east-1.redshift-serverless.amazonaws.com:5439/dev
8473 rows affected.